<!DOCTYPE html>
<html lang="en">

<head>
    <title>Makan Enak</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <a href="#content__section" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="/">Makan Enak</a>
            </div>
            <button id="menu" class="header_menu"
                aria-label="click to show navbar">☰</button>
            <nav id="drawer" class="header__drawer">
                <ul class="nav-list">
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="#">Favorite</a></li>
                    <li class="nav-item"><a
                            href="https://www.linkedin.com/in/muhammad-hidayat-318b8218b/"
                            target="_blank">About
                            Us</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main>
        <div id="hero__container">
            <div class="hero__banner">
                <h1>Makan Enak</h1>
                <p>Tempat Cari Makanan Paling Enak</p>
            </div>
        </div>
        <section id="content__section">
            <div class="content__wrapper">
                <h1 class="post__title">Yuk Cari Makanan</h1>
                <div id="posts">
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                            src="images/heros/hero-image_1.jpg"
                            alt="Gambar dua orang wanita sedang memegang laptop">
                        <div class="post-item__content">
                            <h1 class="post-item__title"><a href="#">Kenapa
                                    Harus
                                    Belajar Coding Dari Sekarang?</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor
                                sit
                                amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio
                                similique
                                voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt.
                                Consectetur consequuntur dolorum excepturi,
                                fugit,
                                minus nemo non quae quaerat quod recusandae
                                reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam
                                vero.
                            </p>
                            <div class="post-item__footer">
                                <p><span class="star">★</span> 4.6</p>

                                <p>Bandung</p>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
        </section>
        <footer>
            <p>Copyright © 2021 - <span class="footer-title">Makan Enak</span>
            </p>
        </footer>

</body>

</html>