<!DOCTYPE html>
<html lang="en">

<head>
    <title>Makan Enak</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <a href="#content__section" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="/">Makan Enak</a>
            </div>
            <button id="menu" class="header_menu"
                aria-label="click to show navbar">☰</button>
            <nav id="drawer" class="header__drawer">
                <ul class="nav-list">
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="#">Favorite</a></li>
                    <li class="nav-item"><a
                            href="https://www.linkedin.com/in/muhammad-hidayat-318b8218b/"
                            target="_blank">About Us</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main>
        <div id="hero__container">
            <div class="hero__banner">
                <h1>Makan Enak</h1>
                <p>Tempat Cari Makanan Paling Enak</p>
            </div>
        </div>
        <section id="content__section">
            <div class="content__wrapper">
                <h1 class="post__title">Yuk Cari Makanan</h1>
                <div id="posts">
                </div>
            </div>
        </section>
        <footer>
            <p>Copyright © 2021 - <span class="footer-title">Makan Enak</span>
            </p>
        </footer>

</body>

</html>